
.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  background-color: #0079bf;

  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }

    &.btn-title {
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    &.btn-register {
      background-color: #fff;
      color: #0079bf !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}